/* ----------------------------------------------------------------
	Bootstrap Adjustments
-----------------------------------------------------------------*/

@media (min-width: 576px) {
	.container { max-width: 540px; }
}

@media (min-width: 768px) {
	.container { max-width: 750px; }
}

@media (min-width: 992px) {
	.container { max-width: 990px; }
}

@media (min-width: 1200px) {
	.container { max-width: 1170px; }
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #888888;
    background-color: #ffffff;
}
h3 {
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    color: #222222;
    font-size: 16px;
    margin: 0 0 5px 0;
    text-transform: uppercase;
}

h6{
	font-size:16px;
	color:#888888;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	text-align:center;
	margin:0 0 60px 0;
}

a {
	text-decoration: none !important;
}


/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/


#header {
	position: relative;
	background-color: #FFF;
	border-bottom: 1px solid #F5F5F5;
}

#header,
#header-wrap,
#logo img {
	height: 100px;
	-webkit-transition: height .4s ease, opacity .3s ease;
	-o-transition: height .4s ease, opacity .3s ease;
	transition: height .4s ease, opacity .3s ease;
}

#header-wrap {
	position: relative;
	z-index: 199;
	-webkit-backface-visibility: hidden;
}

#header .container { position: relative; }

#primary-menu-trigger,
#page-submenu-trigger {
	opacity: 0;
	pointer-events: none;
	cursor: pointer;
	font-size: 14px;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	-webkit-transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
	transition: opacity .3s ease;
}

/* ----------------------------------------------------------------
	Logo
-----------------------------------------------------------------*/

#logo {
	position: relative;
	float: left;
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	line-height: 100%;
	margin-right: 40px;
}

#header.full-header #logo {
	padding-right: 30px;
	margin-right: 30px;
	border-right: 1px solid #EEE;
}

#logo a.standard-logo { display: block; }

#logo a.retina-logo { display: none; }

#logo a {
	display: block;
	color: #000;
}

#logo img {
	display: block;
	max-width: 100%;
}

/* ----------------------------------------------------------------
	Primary Menu
-----------------------------------------------------------------*/


#primary-menu { float: right; }

#primary-menu ul {
	list-style: none;
	margin: 0;
}

#primary-menu > ul { float: left; }

#primary-menu ul li { position: relative; }

#primary-menu ul > li {
	float: left;
	margin-left: 2px;
}

#primary-menu > ul > li:first-child { margin-left: 0; }

#primary-menu ul li > a {
	display: block;
	line-height: 22px;
	padding: 39px 15px;
	color: #444;
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	-webkit-transition: margin .4s ease, padding .4s ease;
	-o-transition: margin .4s ease, padding .4s ease;
	transition: margin .4s ease, padding .4s ease;
}

#primary-menu ul li:hover > a,
#primary-menu ul li.current > a { color: #1ABC9C; }

@media (max-width: 991px) {
	#header,
	#header-wrap,
	#header.sticky-style-2,
	#header.sticky-style-3,
	#header.sticky-style-2 #header-wrap,
	#header.sticky-style-3 #header-wrap { height: auto !important; }

	#header.sticky-style-2 #header-wrap,
	#header.sticky-style-3 #header-wrap { min-height: 60px; }

	#header.sticky-header #header-wrap { position: relative; }

	#header.transparent-header,
	#header.semi-transparent {
		background: #FFF;
		border-bottom: 1px solid #F5F5F5;
		z-index: auto;
	}

	body:not(.top-search-open) #primary-menu-trigger {
		opacity: 1;
		-webkit-transition: opacity .2s .2s ease, top .4s ease;
		-o-transition: opacity .2s .2s ease, top .4s ease;
		transition: opacity .2s .2s ease, top .4s ease;
	}

	#logo {
		display: block;
		height: 100px;
		float: none;
		margin: 0 auto 0 !important;
		max-width: none;
		text-align: center;
		border: 0 !important;
		padding: 0 !important;
	}

	#logo a.standard-logo { display: inline-block; }

	#primary-menu {
		display: block;
		float: none;
	}

	#primary-menu-trigger {
		opacity: 1;
		pointer-events: auto;
		top: 25px;
		margin-top: 0;
		left: 0;
		z-index: 1;
	}

	#primary-menu > ul,
	#primary-menu > div > ul {
		display: none;
		float: none !important;
		border: 0 !important;
		padding: 0 !important;
		margin: 0 !important;
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
	}
}

body:not(.top-search-open) #header-wrap #logo,
body:not(.top-search-open) #primary-menu > ul,
body:not(.top-search-open) #primary-menu > .container > ul,
body:not(.top-search-open) #top-cart,
body:not(.top-search-open) #side-panel-trigger,
body:not(.top-search-open) #top-account {
	opacity: 1;
	-webkit-transition: height .4s ease, margin .4s ease, opacity .2s .2s ease;
	-o-transition: height .4s ease, margin .4s ease, opacity .2s .2s ease;
	transition: height .4s ease, margin .4s ease, opacity .2s .2s ease;
}


.equipo-area {
	background: url(../img/page/equipo.jpg) center;
  	background-size: cover;
}

.banner-content {
  text-align: center;
}

.banner-content h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    line-height: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-btn {
    background-color: #f9f9f9;
    border-radius: 0;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid transparent;
    color: #000;
}

.primary-btn {
  background-color: #f9f9f9;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 25px;
  border: none;
  color: #000;
  display: inline-block;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative;
}

.relative {
  position: relative;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.overlay-bg {
  background-color: #000;
  opacity: .7;
}

.title-info {
    font-family: 'Dosis';
    font-weight: 600;
    font-size: 18px;
    color: #111111;
    margin: 35px 0 18px;
}

.navbar-light .navbar-nav .nav-link {
	color: #222222;
	font-family: 'Dosis';
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
}

.navbar-light .navbar-nav .nav-link:hover {
	color:#49b5e7;
}

section .section-title {
    text-align: center;
    font-size: 38px;
    font-family: 'Dosis';
    font-weight: 700;
    color: #222222;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.service_icon {
	border: 2px solid #7a6d5b;
	border-radius: 50%;
	width: 90px;
	height: 90px;
	margin: 0px auto 25px;
}

.service_icon span {
	background: #7a6d5b;
	border: 3px solid #fff;
	border-radius: 50%;
	display: block;
	height: 100%;
	width: 100%;
}

.service_icon i {
	color: #fff;
	margin-top: 0;
	position: relative;
	top: 4px;
	z-index: 20;
	text-align: center;
}

.c-logo-part{
	background: url(../img/page/poligan_bg.jpg) no-repeat left top;
	padding: 20px 0px 20px 0px;
    filter: alpha(opacity=60);
}
@media (max-width: 768px) {
  .c-logo-part{
	background:url(../img/page/poligan_bg.jpg) bottom;
    }

  .c-logo-part img{
  	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
	margin-bottom: 10px;
  }
}

.c-logo-part ul{
	padding:0;
	margin:0;
	list-style:none;
	text-align:center;
}
.c-logo-part ul li{
	display:inline;
	margin:0 25px;
}
.c-logo-part ul a{
	display:inline-block;
	
}
.c-logo-part img{
	border: 2px solid #7a6d5b;
}

.work_outer {
    position: relative;
}

.interlude_background {
	background-color: rgba(236, 237, 240, 0.5);
}

.section-gap{
	padding: 70px 0;
}

.top_cont_latest img{
	margin: 0;
	position: absolute;               /* 2 */
	top: 50%;                         /* 3 */
	transform: translate(20%, -50%);	
}
@media (max-width: 768px) {
  .top_cont_latest img{
  	top:50px;
  	right:50px;
  	margin:auto;
  	width: 100%;
    }  
}
.work_pic{
	position:absolute;
	right:0;
	top:25%;
	width:50%;
}

.work_section { 
	padding:0px 0 0px;
}

.service-list{
	font-size:14px;
	margin-bottom:10px;
}
.service-list-col1{
	float:left;
	width:60px;
	text-align:center;
}

.service-list-col2{
	overflow:hidden;	
}

.figure{ margin:0px;}

.main-section.team{
	padding:85px 0;
}
.main-section.team h6{
	margin-bottom:40px;
}


.profile-card-3 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
  height:400px;
  border:none;
  margin-bottom: 40px;
}
.profile-card-3 .background-block {
    float: left;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.profile-card-3 .background-block .background {
  width:100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
   -webkit-transform: scale(1.8);
  transform: scale(2.8);
}
.profile-card-3 .card-content {
  width: 100%;
  padding: 15px 25px;
  color:#232323;
  float:left;
  background:#efefef;
  height:50%;
  border-radius:0 0 10px 10px;
  position: relative;
  z-index: 9999;
}
.profile-card-3 .card-content::before {
    content: '';
    background: #efefef;
    width: 120%;
    height: 100%;
    left: 11px;
    bottom: 51px;
    position: absolute;
    z-index: -1;
    transform: rotate(-13deg);
}
.profile-card-3 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 150px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index:99999;
}
.profile-card-3 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:25px;
}
.profile-card-3 h2 small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}
.profile-card-3 .icon-block{
    float:left;
    width:100%;
}
.profile-card-3 .icon-block a{
    text-decoration:none;
}
.profile-card-3 i {
  display: inline-block;
    font-size: 16px;
    color: #232323;
    text-align: center;
    border: 1px solid #232323;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-3 i:hover {
  background-color:#232323;
  color:#fff;
  text-decoration:none;
}